@model LondonDegree_Web.Models.EventModel
@using LondonDegree_Web.Models

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">@Model.Event_Title_s</li>
        </ol>
    </div>
</div>

<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-8">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title"><i class="fa fa-hand-o-right pr-10"> @Model.Event_Title_s</i></h1>
                <div class="separator-2"></div>
                <!-- page-title end -->
                <p>@Model.Event_Description_s</p>

            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-lg-4 col-xl-3 ml-xl-auto">
                <div class="sidebar">
                    <div class="block clearfix">
                        <div class="separator-2"></div>
                        <ul class="list">
                            <li>
                                <i class="fa fa-calendar pr-10"></i><b>Event Date:</b><br>
                                <span class="pl-20">@Model.Event_Date_d.ToString("dd'/'MM'/'yyyy")</span><br>
                            </li>
                        </ul>
                        <ul class="list">
                            <li>
                                <i class="fa fa-home pr-10"></i><b>Event Location:</b><br>
                                @{ 
                                    if (Model.Event_Location_s.Contains(",")) { 
                                            string[] vl_addressLines_ = Model.Event_Location_s.Split(',');
                                            foreach (string in_addressLine_s in vl_addressLines_)
                                            {
                                                <span class="pl-20">@in_addressLine_s</span><br>
                                        }
                                    }
                                    else
                                    {
                                        <span class="pl-20">@Model.Event_Location_s</span><br>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                    <div class="block clearfix">
                        <h3 class="title">Target Audience</h3>
                        <div class="separator-2"></div>
                        <p>@Model.Event_TargetAudience_s</p>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
        </div>
    </div>
</section>
<!-- main-container end -->