@model LondonDegree_Web.Models.ServiceModel
@using LondonDegree_Web.Models



@{
    Layout = null;
    int vl_counter_i = 1;
    string vl_selected_s = "";
}

<div class="row">
    <div class="col-md-12" id="validationAreaSuccess" style="display:none;">
        <p class="alert alert-success"><i class="fa fa-check"></i> Saved succesfully!</p>
    </div>

    <div class="col-md-12" id="validationAreaError" style="margin-top:10px; display:none;">
        <p class="alert alert-danger"><i class="fa fa-times"></i> <span id="errorMessage">Error saving record</span></p>
    </div>
</div>

@using (Html.BeginForm("EditServices", "Administration", FormMethod.Post, new { id = "Services_Frm_Edit" }))
{
    <input id="PK_Service_ID_gu" name="PK_Service_ID_gu" value="@Model.PK_Service_ID_gu" type="hidden" />
    <div class="form-row">
        <div class="col-md-12">
            <div class="pull-right"><i class="fa fa-square mandotory_field_label"></i> Mandatory</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label>Title</label>
                <input id="Service_Title_s" name="Service_Title_s" type="text" value="@Model.Service_Title_s" class="form-control mandotory_field">
                <i class="fa fa-user form-control-feedback"></i>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label for="DisplayOrder">Display Order</label>
                <select class="form-control mandotory_field" id="Service_Order_i" name="Service_Order_i">
                    @while (vl_counter_i <= 10)
                    {
                        vl_selected_s = "";
                        if (Model.Service_Order_i == vl_counter_i)
                        {
                            vl_selected_s = "selected";
                        }
                        <option value="@vl_counter_i" @vl_selected_s>@vl_counter_i</option>
                        vl_counter_i = vl_counter_i + 1;
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Introduction">Introduction</label>
                <textarea class="form-control mandotory_field" id="Service_Introduction_s" name="Service_Introduction_s" rows="5">@Model.Service_Introduction_s</textarea>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control mandotory_field" id="Service_Description_s" name="Service_Description_s" rows="10">@Model.Service_Description_s</textarea>
            </div>
        </div>
    </div>

    <div class="pull-right">
        <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        <button id="BasicDetails_Btn_Save" type="submit" class="btn btn-sm btn-default">Save</button>
    </div>
}

<script>


    $("#Services_Frm_Edit").submit(function (e) {
            var url = "@Url.Action("EditServices", "Administration")";
            $('#validationAreaSaved').hide();
            $('#validationAreaError').hide();
        alert('test');
            $.ajax({
                type: "POST",
                url: url,
                data: $("#Services_Frm_Edit").serialize(),
                success: function (data) {
                    window.location.href = '@Url.Action("Index_ContentManagement", "Administration")';
                    $('#ServicesEditModal').modal('hide');
                    $('.modal-backdrop').hide();
                    $('body').removeClass("modal-open");
                },
                error: function (request, status, error) {
                    if (error == 'See Other') {
                        $('#errorMessage').html(request.responseText);
                        $('#validationAreaError').show();
                    } else {
                        var json = $.parseJSON(request.responseText);
                        var param = json.Reference;
                        var url = '@Url.Action("Error", "Home", new { error = "__param__" })';
                        window.location.href = url.replace('__param__', param);
                    }
                }
            });

            e.preventDefault();
         });
</script>

<script>
    $(document).ready(function () {
        $('#modal-title-@ViewData["modalDialog"].ToString()').html("@ViewData["mainHeading"].ToString()");
    });
</script>